.App {
  text-align: center;
}

.header{
  background: tomato;
  width: 100%;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

.footer{
  background:whitesmoke;
  width: 100%;
  color: grey;
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

.footer:active{
  background: lightgrey;
  color: white;
}

.main{
  padding-top: 20px;
  overflow: auto;
  overflow: hidden;
}

.input{
  width: 45%;
  text-align: center;
  height: 30px;
  margin-bottom: 20px;
}

.button{
  margin: 0 auto;
  width:80px;
  height:80px;
  border-radius: 50%;
  color: white;
  text-align:center;
  background:aquamarine;
  font-size:50px;
  font-weight:bold;
}

.button:active{
  background: white;
  color: aquamarine;
}

.result{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lot{
  font-size: 40px;
}

.who{
  font-weight: 600;
}